<title>Détail de l'utilisateur</title>
<div class = "erreur" *ngIf= "!userTrouver">L'utilisateur n'a pas été trouvé</div>
<div *ngIf= "userTrouver">
  <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Téléphone</th>
          <th>Équipe</th>
          <th>Projet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ email }}</td>
          <td>{{ nom }}</td>
          <td>{{ prenom }}</td>
          <td>{{ telephone }}</td>
          <td>{{ equipe }}</td>
          <td>
            <ul>
              <li *ngFor="let element of nomProjets">{{ element }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
  </table>
</div>
  