<h1>Détail de l'utilisateur</h1>
<div class="alert alert-danger" role="alert" *ngIf= "!userTrouver">L'utilisateur n'a pas été trouvé</div>
<div *ngIf= "userTrouver">

  <form (ngSubmit)="majUser()"class="form-control"> 
      <table>
        <tr>
          <td>
            <label for="Email">Email</label>
          </td>
          <td> 
            <input type="text" id="email" name="email" [(ngModel)]="utilisateur.email" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Nom</label>
          </td>
          <td>
            <input type="text" id="nom" name="nom" [(ngModel)]="utilisateur.nom" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Prénom</label>
          </td>
          <td>
            <input type="text" id="prenom" name="prenom" [(ngModel)]="utilisateur.prenom" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Téléphone</label>
          </td>
          <td>
            <input type="tel" id="telephone" name="telephone" [(ngModel)]="utilisateur.telephone" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Équipe : {{ utilisateur.equipe }}</label>
          </td>
          <td>
            <app-select-equipe (eventIdEquipeSelectionner) = "selectionnerEquipe($event)"></app-select-equipe>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Liste des projets : </label>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let element of utilisateur.nomProjets">{{ element }}</li>
            </ul>
          </td>
          <td>
            <app-select-projet (eventIdProjetSelectionner) = "selectionnerProjet($event)"></app-select-projet>
          </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>

  <div class="alert alert-success" role="alert" *ngIf="traitementEquipeOk">L'équipe a été correctement associé, si les données ne sont pas à jour, merci de rafraichir la page</div>
  <div class="alert alert-success" role="alert" *ngIf="traitemenProjetOk">Le projet a été correctement associé, si les données ne sont pas à jour, merci de rafraichir la page</div>
  <div class="alert alert-success" role="alert" *ngIf="majUtilisateur && (traitementEquipeOk || traitementEquipeOk == null) && (traitemenProjetOk || traitemenProjetOk == null)">Les mises à jours ont été appliquées avec succès</div>
  <div class="alert alert-danger" role="alert" *ngIf="(traitementEquipeOk == false) || (majUtilisateur == false)">Une erreur inconnue s'est produite</div>
  <div class="alert alert-danger" role="alert" *ngIf="traitemenProjetOk == false">Une erreur inconnue s'est produite, cela peut se produire si l'utilisateur appartient déjà au projet associé</div>
</div>
  