<h1>Détail de l'utilisateur</h1>
<div class = "erreur" *ngIf= "!userTrouver">L'utilisateur n'a pas été trouvé</div>
<div *ngIf= "userTrouver">
  <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Téléphone</th>
          <th>Équipe</th>
          <th>Projet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ utilisateur.email }}</td>
          <td>{{ utilisateur.nom }}</td>
          <td>{{ utilisateur.prenom }}</td>
          <td>{{ utilisateur.telephone }}</td>
          <td>{{ utilisateur.equipe }}</td>
          <td>
            <ul>
              <li *ngFor="let element of utilisateur.nomProjets">{{ element }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
  </table>
</div>
  