<h1>Créer un nouveau projet</h1>
  <form (ngSubmit)="creerProjet()" class="form-control"> 
      <table>
        <tr>
          <td>
            <label for="entreprise">Entreprise</label>
          </td>
          <td> 
            <input type="text" id="entreprise" name="entreprise" [(ngModel)]="projet.entreprise" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nom">Nom du Projet</label>
          </td>
          <td>
            <input type="text" id="nom" name="nom" [(ngModel)]="projet.nomProjet" required>
          </td>
        </tr>
      </table>
    <button type="submit" class="btn btn-primary">Créer le projet</button>
  </form>

  <div class="alert alert-success" role="alert" *ngIf="traitementOk">Le projet a été créer</div>
  <div class="alert alert-danger" role="alert" *ngIf="traitementOk == false">Une erreur inconnue s'est produite</div>