

<!-- Toolbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light manavbar">
  <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand"><img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      /></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li *ngIf="loginUtilisateur" class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Utilisateur</a>
                  <div class="dropdown-menu">
                      <a [routerLink]="'/user'" class="dropdown-item">Liste des utilisateurs</a>
                      <a [routerLink]="'/userCreate'" class="dropdown-item">Créer un nouvel utilisateur</a>
                  </div>
              </li>
              <li *ngIf="loginUtilisateur" class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Equipe</a>
                <div class="dropdown-menu">
                    <a [routerLink]="'/team'" class="dropdown-item">Liste des équipes</a>
                    <a [routerLink]="'/teamCreate'" class="dropdown-item">Créer une nouvelle équipe</a>
                </div>
            </li>
            <li *ngIf="loginUtilisateur" class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Projet</a>
              <div class="dropdown-menu">
                  <a [routerLink]="'/projet'" class="dropdown-item">Liste des projets</a>
                  <a [routerLink]="'/projetCreate'" class="dropdown-item">Créer un nouveaux projets</a>
              </div>
          </li>
          </ul>
          <ul class="nav navbar-nav ms-auto">
            <li class="nav-item">
              <a *ngIf="!loginUtilisateur" class="nav-link" [routerLink]="'/login'">Se connecter</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

<!--Contenu de la page-->

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<!-- Pied de page -->

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Un jolie pied de ses pages</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">blbl du texte des adresses et téléphones pas à jour</p>
    </div>
  </div>
  <div class="card-group ">
    <div class="card ">
      <div class="card-body text-white bg-dark">
        <h5 class="card-title">Réseaux sociaux</h5>
        <hr>
        <p class="card-text">cui cui ! <br>
          zbouk <br>
          photo-kilo</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-white bg-dark">
        <h5 class="card-title">Random publication</h5>
        <hr>
        <p class="card-text">Il ferait presque beau s'il pleuvait pas</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago by Jean Jean on Y</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-white bg-dark">
        <h5 class="card-title">Mentions légales</h5>
        <hr>
        <p class="card-text">Personne ne les lit jamais alors je peux écrire ce que je veux</p>
      </div>
    </div>
  </div>
</div>