<h1>Page d'accueil</h1>

<div class="presentation">Il s'agit d'un projet permettant de monter en compétances sur Angular, il faut en parallèle lancer la BDD et le projet BO (avec le back <a href="https://github.com/RemiDTA/projet_test_springboot" target="_blank">projet_test_springboot</a>)</div>
<p>Ci dessous des glitch d'accès aux URL</p>
<div><a [routerLink]="'/login/'">Se connecter</a></div>
<div><a [routerLink]="'/user/'">Afficher la liste des utilisateurs</a></div>
<div><a [routerLink]="'/team/'">Afficher la liste des équipes</a></div>
<div><a [routerLink]="'/projet/'">Afficher la liste des projets</a></div>